body {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: white;
  line-height: 30px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  color: black;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

p {
  text-align: center;
  color: black;
}

.box{
  width: 650px;
  height: 95px;
  text-align: center;
  margin-right: 0;
  margin-left: auto;
}

.white{
  background: #FBFCFC;
}

#headshot {
  width: 30%;
  float: left;
  padding-top: 30px;
}

.box2 {
  width: 650px;
  height: 250px;
  text-align: center;
  margin-right: 0;
  margin-left: auto;
}

.white{
  background: #FBFCFC;
}

.topnav {
  background-color: #EBF5FB;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #34495E;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #3498DB;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #EBF5FB;
  color: #34495E;
}
