body {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: white;
  line-height: 30px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  color: black;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

p {
  text-align: center;
  color: black;
}

.box{
  width: 650px;
  height: 95px;
  text-align: center;
  margin-right: 0;
  margin-left: auto;
}

.white{
  background: #FBFCFC;
}

#headshot {
  width: 30%;
  float: left;
  padding-top: 30px;
}

.box2 {
  width: 650px;
  height: 250px;
  text-align: center;
  margin-right: 0;
  margin-left: auto;
}

.white{
  background: #FBFCFC;
}

.topnav {
  display: flex;
  background-color: #EBF5FB;
  overflow: hidden;
  align-items: center;
  justify-content: center;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #34495E;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #3498DB;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #EBF5FB;
  color: #34495E;
}

.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #3498DB;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3498DB;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #3498DB;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.target {
  margin: 5px; 
}
